include README.md
include LICENSE
include pyproject.toml
include images/*.png
recursive-include uxsentinel/assets *.png
recursive-include uxsentinel/config *.yaml
recursive-include uxsentinel/scenarios/library *.yaml
